[submodule "backend-hideyoshi.com"]
	path = backend-hideyoshi.com
	url = git@github.com:HideyoshiNakazone/backend-hideyoshi.com.git
[submodule "hideyoshi.com"]
	path = hideyoshi.com
	url = git@github.com:HideyoshiNakazone/hideyoshi.com.git
[submodule "infra-hideyoshi.com"]
	path = infra-hideyoshi.com
	url = git@github.com:HideyoshiNakazone/infra-hideyoshi.com.git
